<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Pplaylist</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/"><img src="/img/logo.jpg" alt="logo playlist"></a>
            </li>
            <li>
                <a href="/"><i class="bi bi-box-arrow-right"></i></a>
            </li>
        </ul>
    </nav>

    <section id="add">
        <h2>Insira uma nova musica</h2>

    <form action="/create" method="post">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name">
        
        <label for="author">Artista:</label>
        <input type="text" name="author" id="author">

        <label for="linkImage">Link da Imagem:</label>
        <input type="text" name="linkImage" id="linkImage">

        <label for="linkMusic">Link da Musica:</label>
        <input type="text" name="linkMusic" id="linkMusic">

        <button type="submit">Inserir</button>
    </form>
    </section>

    <section id="player">
        <h2>Editar músicas</h2>

        <!-- <div>
            <img id="currentImg" src="/img/musicoff.jpg" alt="">
            <h2 id="currentName">Titlo</h2>
            <p id="currentArtist">Artista</p>
        </div> -->


        <div>
            <table>

                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Artista</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <% playlist.forEach((music) =>{ %>
                        <tr class="musics">
                            <td><img src="<%= music.linkImage %>" alt="imagem da musica"></td>
                            <td>
                                <%= music.name %>
                            </td>
                            <td>
                                <%= music.author %>
                            </td>
                            <td id="action">
                                <a id="edit" href="">Editar</a>
                                <a id="del" href="">Apagar</a>
                            </td>
                        </tr>
                        
                        <% }) %>
                </tbody>

            </table>
        </div>
    </section>
    
</body>
</html>